<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Signup</h1>

    <form method="post" action="/signup">
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <label>Email:</label>
        <input type="text" name="email">
        <br>
        <label>Password:</label>
        <input type="text" name="password">
        <br>
        <button type="Sign Up">Login</button>
    </form>
</body>
</html>